@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*font-family: 'Roboto', sans-serif;*/
.card-individual, .card-body {
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: radius 5%;
  border: solid 2px;
  color: darkblue;
  background-color: black;
  height: 200px;
  width: 200px;
}

.card-body {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  border-radius: 5%;
  border: solid 5px black;
  color: red;
  background-color: black;
  height: 250px;
  width: 75%;
}

.card-body {
  color: darkblue;
  background-color: #afabab;
  margin-left: auto;
  margin-right: auto;
}

/*Reset default*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*Cotenedor*/
.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: 'header header header' 'nav nav nav' 'contenido contenido contenido' 'footer footer footer';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

/*Header*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 300px;
  height: 300px;
}

/*Nav*/
nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: darkblue;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.nav-bar li {
  padding: 10px;
}

li a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: blue;
}

.nav-bar i {
  display: none;
}

input[type='search'] {
  padding: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: none;
  border-bottom: 1px solid black;
}

input[type='search']:focus {
  color: black;
  outline: none;
}

/**Contacto*/
.contenido-formulario {
  margin: 0 auto;
  width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

/*Section*/
section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.form {
  font-family: cursive;
  color: red;
  background-color: black;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article:hover {
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
}

img {
  width: 35%;
}

.btn {
  margin: auto;
  display: block;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 10px;
}

span {
  background-color: yellow;
  font-size: 33px;
}

/*Footer*/
footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: gray;
}

/*
.rs {
	grid-area: rs;
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: gray;
}
.redes {
	margin: 10px;
	padding: 10px;
	background-color: black;
	border: none;
	border-radius: 5px;
	color: white;
}

.copyright {
	display: flex;
	justify-content: right;
}

.webpay {
	width: 20%;
}	
.boton-form:hover {
	color: blue;
	background-color: yellow;
	
}
.boton-form {
	font-weight: bold;
}
.copy {
	display: flex;
	justify-content: center;
	color: red;
	font-weight: bolder;
	
}
*/
.copi {
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 100%;
    height: 160px;
  }
  section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  section.contenido-formulario {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  section iframe {
    display: none;
  }
  .contenedor {
    display: block;
  }
}
/*# sourceMappingURL=estilos.css.map */